

.row {
  margin-left: 0px;
  margin-right:0px;
}

.tabs {
  font-family: "lucida grande", sans-serif;
}

[role="tablist"] {
  min-width: 100%;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  /* display: inline-block; */
  position: relative;
  /* z-index: 2;
  top: 2px;
  margin: 0;
  margin-top: 4px;
  padding: 3px 3px 4px; */
  /* border: 1px solid hsl(219deg 1% 72%); */
  /* border-bottom: 2px solid hsl(219deg 1% 72%); */
  /* border-radius: 5px 5px 0 0; */
  /* background: hsl(220deg 20% 94%); */
  /* outline: none; */
  font-weight: bold;
  /* max-width: 22%; */
  /* overflow: hidden; */
  /* text-align: left; */
  cursor: pointer;
}

[role="tab"][aria-selected="true"] {
  padding: 2px 2px 4px;
  margin-top: 0;
  border-width: 2px;
  border-top-width: 6px;
  border-top-color: rgb(36 116 214);
  border-bottom-color: hsl(220deg 43% 99%);
  background: hsl(220deg 43% 99%);
}

[role="tab"][aria-selected="false"] {
  border-bottom: 1px solid hsl(219deg 1% 72%);
}

[role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}


[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
  /* padding: 2px 4px; */
  border: 1px solid rgb(36 116 214);
  border-radius: 3px;
}

[role="tabpanel"] {
  padding: 15px;
  border: 2px solid hsl(219deg 1% 72%);
  border-radius: 0 5px 5px;
  background: hsl(220deg 43% 99%);
  min-height: 10em;
  width: 100%;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}

/** Terry changes */
/* ADDED: Hide elements */
.is-hidden {
  display: none !important;
}

/* ADDED: Modal Overlay */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* ADDED: Modal Content Box */
.custom-modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 450px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

/* ADDED: Switch image styling */
.switch-image {
  width: 70px;
  cursor: pointer;
  margin-left: 20px;
}

.image-switch-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}
